/* Global styles */

.support-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.support-container table{
  width: 600px;
  height: 400px;
}

h2 {
  margin-top: 0;
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
}

/* Table styles */

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
}

th {
  text-align: left;
  background-color: #f0f0f0;
  font-family: 'Times New Roman', Times, serif;
}

td input, td textarea {
  width: 90%;
  padding: 10px;
  height: 20px;
  border: 1px solid #ccc;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
}

td input:focus, td textarea:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* Button styles */

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}